Дайджест RSS.json
{
  "name": "Дайджест RSS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        0
      ],
      "id": "de70b7b1-6b99-4a63-8076-cc6d72b38451",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "alexobdulaev@gmail.com",
        "subject": "=Дайджест ИИ {{ new Date().toLocaleDateString('ru-RU') }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        368,
        0
      ],
      "id": "5c32defb-44ac-4823-a737-6dda0d23d7bb",
      "name": "Send a message",
      "webhookId": "7d948687-d6b1-4d42-8f37-89d18f1086b9",
      "credentials": {
        "gmailOAuth2": {
          "id": "pWq3PdW0aa1Q2D1K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Извлекаем все элементы\nlet articles = [];\nfor (const item of items) {\n    if (item.json && Array.isArray(item.json)) {\n        articles.push(...item.json);\n    } else if (item.json) {\n        articles.push(item.json);\n    } else if (item.title) {\n        articles.push(item);\n    }\n}\n\nif (articles.length === 0 && items[0]?.json && Array.isArray(items[0].json)) {\n    articles = items[0].json;\n}\n\nif (!Array.isArray(articles) || articles.length === 0) {\n    throw new Error('Не удалось извлечь массив новостей');\n}\n\n// Преобразуем в единый формат\nconst newsWithFields = articles.map(item => ({\n    title: item.title || '',\n    link: item.link || item.url || '',\n    description: item.contentSnippet || item.content || item.description || ''\n}));\n\n// Фильтрация (без белого и чёрного списков)\nconst filtered = newsWithFields;\n\n// Удаление дубликатов по заголовку\nconst uniqueNews = [];\nconst seenTitles = new Set();\n\nfor (const item of filtered) {\n    const normalizedTitle = item.title.toLowerCase().replace(/[^\\w\\s]/g, '');\n    if (!seenTitles.has(normalizedTitle)) {\n        seenTitles.add(normalizedTitle);\n        uniqueNews.push(item);\n    }\n}\n\n// Берём первые 10 новостей\nconst topNews = uniqueNews.slice(0, 10);\n\n// Формируем текст письма (простой текст, без HTML)\nlet body = `📰 Дайджест новостей ИИ\\n\\n`;\nif (topNews.length === 0) {\n    body += 'Новостей по теме ИИ за сегодня не найдено.\\n';\n} else {\n    topNews.forEach((item, index) => {\n        body += `${index + 1}. **${item.title}**\\n`;\n        body += `   🔗 ${item.link}\\n`;\n        if (item.description) {\n            const desc = item.description.substring(0, 200);\n            body += `   📝 ${desc}${desc.length >= 200 ? '...' : ''}\\n`;\n        }\n        body += `\\n`;\n    });\n}\n\nbody += `\\n---\\nПисьмо сгенерировано автоматически в n8n`;\nreturn { newsList: body };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        0
      ],
      "id": "e3babe9a-a90e-441f-9469-ba3b314beedf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.newsList }}",
        "options": {
          "systemMessage": "Ты — ассистент по отбору и переводу новостей. Старайся выбирать новости о практическом применении ИИ (продукты, исследования, медицина, роботы, кибербезопасность). Если таких новостей меньше 10 — выведи все, что есть, даже если они не идеальны.\n**Для каждой отобранной новости:**\n1. Переведи заголовок на русский язык (жирным шрифтом)\n2. Напиши краткий обзор (2-3 предложения) своими словами, фокусируясь на конкретном применении ИИ\n3. Укажи ссылку\n**Формат ответа (строго):**\n1. **[Переведённый заголовок]**\n[Краткий обзор о практическом применении]\n[Ссылка]\n2. **...**\n(пустая строка между новостями)\n**Важно:** Если подходящих новостей меньше 10 — выведи все, что нашёл.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        0
      ],
      "id": "effef752-ae4b-45d5-bcc4-f770a0a8319d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai-fast",
        "options": {}
      },
      "type": "n8n-nodes-pollinations-v2.pollinationsChatModel",
      "typeVersion": 1,
      "position": [
        96,
        192
      ],
      "id": "0ce7e842-9ae0-4fb1-85c1-a7453b94efb0",
      "name": "Pollinations Chat Model",
      "credentials": {
        "pollinationsApi": {
          "id": "1NO3mUYWlXGdYQNk",
          "name": "Pollinations account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -352,
        -64
      ],
      "id": "995baa46-4ecc-4268-a240-12daf3f96863",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://venturebeat.com/category/ai/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -352,
        80
      ],
      "id": "b9523ab8-fdaa-4847-9fd6-fde599004525",
      "name": "RSS Read1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        0
      ],
      "id": "88139d14-3659-4e42-8b92-fc204f96d2bd",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pollinations Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Minsk",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7d2e4b7e-b2cb-423f-96d4-557439ed96e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d9d735dc3399caa5e83b48121411e4a9a89de795a02536a28c635960dce7c17"
  },
  "nodeGroups": [],
  "id": "8ceLcnCFs65k2kZR",
  "tags": []
}